@import '../../common/colors.scss';
.movieCard{
    background: $secondary-color;
    width: 238px;
    height: 365px;

    img{
        width: 238px;
        height: 265px;
    }
    .title-year{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        p{
            color: #fff;
            font-family: sans-serif;
        }
    }
}